.section__padding {
  padding: 4rem 6rem;
}

.vertical__line {
  position: absolute;
  min-height: 100%;
  width: 2px;
  background-color: #ecc96b7a;
  top: 0;
  pointer-events: none;
  z-index: 5;
}

.vertical__line-left {
  left: 7.5%;
}

.vertical__line-right {
  right: 7.5%;
}

.vertical__star-small-top {
  position: absolute;
  width: 36px;
  top: 25%;
  left: 0;
  right: 0;
  transform: translateX(-48%) translateY(-50%);
}

.vertical__star-small-bottom {
  position: absolute;
  width: 36px;
  bottom: 25%;
  left: 0;
  right: 0;
  transform: translateX(-48%) translateY(-50%);
}

.vertical__star-big {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateX(-48%) translateY(-50%);
}

.section__gradient-wrapper {
  position: absolute;
  pointer-events: none;
  mix-blend-mode: color-dodge;
  opacity: 0.5;
  width: 26.625rem;
  height: 26.625rem;
  z-index: 1;
}

.top__gradient {
  top: 0;
  left: -10rem;
}

.bottom__gradient {
  bottom: 0;
  right: -10rem;
}

.section__gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translateX(-50%) translateY(-50%);
  max-width: 79.5625rem;
  width: 79.5625rem;
  height: 88.5625rem;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_sky-gradient {
  background: hsla(0, 0%, 5%, 1);
  background: linear-gradient(180deg, hsla(0, 0%, 5%, 1) 0%, hsla(236, 100%, 8%, 1) 40%, hsl(211deg 32.95% 2.4%) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0C0C0C", endColorstr="#000328", GradientType=1 );
}

.bg_dark-blue {
  background-color: var(--color_dark-blue);
}

.hoshizora__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.custom__button {
  background-color: var(--color-white);
  color: var(--color_dark-blue);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  width: max-content;
  border-radius: 1px;
  border: 2px solid var(--color_golden);
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.custom__button:hover {
  color: var(--color-white);
  background-color: var(--color_dark-blue);
  border-color: var(--color-white);
}

.p__yusei-magic {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__kaisei-tokumin {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__yusei-magic {
  font-family: var(--font-base);
  color: var(--color-white);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.hoshizora__japanease-text {
  line-height: 18px;
}

.spoon__img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .p__yusei-magic {
    font-size: 37px;
    line-height: 67px;
  }

  .p__kaisei-tokumin {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__yusei-magic {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .hoshizora__wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__gradient-wrapper {
    width: 8.625rem;
    height: 8.625rem;
  }

  .section__gradient {
    max-width: 59.5625rem;
    width: 59.5625rem;
    height: 38.5625rem;
  }

  .vertical__line-left {
    left: 0;
  }

  .vertical__line-right {
    right: 0;
  }

  .vertical__star-small-top {
    width: 26px;
  }

  .vertical__star-small-bottom {
    width: 26px;
  }

  .vertical__star-big {
    width: 36px;
  }

  .p__yusei-magic {
    font-size: 21px;
  }

  .p__kaisei-tokumin {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__kaisei-tokumin {
    font-size: 12px;
  }

  .p__yusei-magic {
    font-size: 19px;
  }

  .headtext__yusei-magic {
    font-size: 45px;
    line-height: 70px;
  }
}
