/* import fonts */

:root {
  --font-base: ;
  --font-alt: ;

  --color-one: ;
  --color_two: ;
  --color_three: ;
  --color_four: ;
  --color_five: ;
  --color_six: ;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}
